@import "tailwindcss";

:root{
  background-color: #0f0f0f;
}

@font-face {
  font-family: 'MyFont1';
  src: url('../font/font1.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MyFont2';
  src: url('../font/font2.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}